{# paragraph--homepage-hero.html.twig #}

<main class="dark:bg-gray-800 bg-white relative overflow-hidden h-screen">

  <div class="bg-white dark:bg-gray-800 flex relative z-20 items-center overflow-hidden">
    <div class="container mx-auto px-6 flex relative py-16">

      {# LEFT TEXT COLUMN #}
      <div class="sm:w-2/3 lg:w-3/5 flex flex-col relative z-20">

        <span class="w-20 h-2 bg-gray-800 mb-12"></span>

        {% if content.field_headline %}
          <h1 class="font-bebas-neue uppercase text-6xl sm:text-8xl font-black leading-none text-gray-800">
            {{ content.field_headline }}
          </h1>
        {% endif %}

        {% if content.field_subhead %}
          <h2 class="text-3xl text-gray-800">
            {{ content.field_subhead }}
          </h2>
        {% endif %}

        <div class="flex mt-8">
            {% if content.field_cta_primary %}
            {{ content.field_cta_primary|add_class('uppercase py-2 px-4 rounded-lg bg-pink-500 border-2 border-transparent text-white text-md mr-4 hover:bg-pink-400 transition') }}
            {% endif %}

            {% if content.field_cta_secondary %}
            {{ content.field_cta_secondary|add_class('uppercase py-2 px-4 rounded-lg bg-transparent border-2 border-pink-500 text-pink-500 hover:bg-pink-500 hover:text-white text-md transition') }}
            {% endif %}
        </div>

      </div>

      {# RIGHT IMAGE COLUMN #}
      <div class="hidden sm:block sm:w-1/3 lg:w-2/5 relative flex items-center justify-center">
  
        {% if content.field_image %}
            <div class="w-full h-full flex items-center justify-center">
            {{ content.field_image|add_class('max-w-full max-h-full object-contain') }}
            </div>
        {% endif %}

        </div>

    </div>
  </div>

</main>
